[Desktop Entry]
Version=0.17.6
Name=Qtep Core Testnet
Comment=Connect to the Qtep P2P Network Testnet
Exec=qtep-qt -testnet %u
Terminal=false
Type=Application
Icon=qteptestnet128
MimeType=x-scheme-handler/qtep;
Categories=Network;
StartupWMClass=Qtep-qt-testnet
Name[en_US]=qtep-qt-testnet
