[Desktop Entry]
Version=0.17.6
Name=Qtep Core
Comment=Connect to the Qtep P2P Network
Exec=qtep-qt %u
Terminal=false
Type=Application
Icon=qtep128
MimeType=x-scheme-handler/qtep;
Categories=Network;
StartupWMClass=Qtep-qt
Name[en_US]=qtep-qt
